doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		
		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/bootstrap-grid.min16.css')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/responsive.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:500,100')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title We Hear You
	body
		.wrapper.my_account-page.myacc-page-2
			.header
				.header__nav
					.container
						.row						
							.col-md-7.col-xs-13
								.logo
									a(href='#')
										ul
											li
												img(src="../img/logo.png", alt="we hear you")
											li
												p.h1 we hear you
								
							.col-md-9.col-xs-3
								.menu_but_dropdown
									a(href="#")
										img(src="../img/menu2.png", alt="")
								.login-block
									ul
										li
											a(href="#")
												p.h1 Support
										li
											a(href="#").menu-active
												p.h1 sign up
										
										li
											a(href="#")
												p.h1 login
										
			.content
				.container
					form(action="" name="login-form").dib
						.section-50

							.row
								.col-md-16
									p.title-md organization name
								.col-md-16
									input(id="login-username" type="password" name="organization-website" placeholder="").custom-1
							.row
								.col-md-16
									p.title-md organization website
								.col-md-16
									input(id="login-username" type="password" name="organization-website" placeholder="").custom-1
							.row
								.col-md-16
									p.title-md organization email
								.col-md-16
									input(id="login-username" type="password" name="organization-website" placeholder="").custom-1
						.section-50.myacc2
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="https://facebook.com/path to your facebook page").custom-1
								.col-md-2
									a(href="#").dark.fz_21.raleway.pt11 Required
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="https://facebook.com/path to your facebook page").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="https://facebook.com/path to your facebook page").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="https://facebook.com/path to your facebook page").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="https://facebook.com/path to your facebook page").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-4
									select.custom-dropdown
										option(value="123") 123
										option(value="123") 123
										option(value="123") 123
								.col-md-10
									input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
						.section-50
							.row
								.col-md-16
									p.title-md select your password password
								.col-md-14
									input(id="login-username" type="password" name="organization-website" placeholder="").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								.col-md-16
									p.title-md Confirm password
								.col-md-14
									input(id="login-username" type="password" name="organization-website" placeholder="").custom-1
								.col-md-2
									a(href="#").orange.thin.fz_21.raleway.pt11 Remove
							.row
								hr

						.section-50
							.row
								.col-md-16
									p.title-md Edit payment Info (Monthly Subsciption $20)
							.row
								.col-md-16
									p.title-md.fz_21 Name on the card
								.col-md-16
									input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
							.row
								.col-md-16
									p.title-md.fz_21 Street Address
								.col-md-16
									input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
							.row
								.col-md-7
									ul.db
										li
											p.title-md.fz_21 City
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
								.col-md-2.col-sm-5
									ul.db
										li.tac
											p.title-md.fz_21 State
										li
											select.custom-dropdown
												option(value="123") 123
												option(value="123") 123
												option(value="123") 123
								.col-md-3.col-sm-5
									ul.db
										li.tac
											p.title-md.fz_21 Zip code
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1

								.col-md-4.col-sm-5
									ul.db
										li.tac
											p.title-md.fz_21 Country
										li
											select.custom-dropdown
												option(value="123") 123
												option(value="123") 123
												option(value="123") 123
							br
							.row
								.col-md-16
									ul.db
										li
											p.title-md.fz_21 Card number
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
							.row
								.col-md-7
									ul.db
										li
											p.title-md.fz_21 Expires
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
								.col-md-7.col-md-offset-2
									ul.db
										li
											p.title-md.fz_21 CVC
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
							.row
								.col-md-16
									ul.db
										li
											p.title-md.fz_21 Promotional code
										li
											input(id="login-username" type="text" name="organization-website" placeholder="").custom-1
						.section-50
							.row
								.col-xs-5.col-xs-offset-5
									<input type="submit" value="submit" />
						.section-50
							.row
								.col-md-16
									p.dark.thin.tac Click Here to #[a(href="#").blue Cancel Subscription]


		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/script.js')

			
